<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunar drive</title>
    <link rel="stylesheet" href="/drive.css">
</head> 
<body>
    <header>
        <div class="HeadingBox">
            <h1>Lunar Drive</h1>
        </div>
        <div class="navBox">
            <p>Hello    </p>
            <a href="/drive">Home</a>
            <a href="/login">Log out</a>
        </div>
    </header>
    <section>
            <div class="libraryDiv">
                <p>My Library</p>
                <div>
                    <% if(route === null) { %>
                        <a href="/drive/newFolder">New Folder</a>
                        <a href="/drive/uploadFile">Upload file</a>
                    <%} %>
                    <% if(route != null) { %>
                        <a href="/drive/newFolder/<%=route%>">New Folder</a>
                        <a href="/drive/uploadFile/<%=route%>">Upload file</a>
                    <% } %>
                </div>
            </div>
            <ul class="library">
                <div class="folderBox">
                    <% for(let i = 0;i < folders.length;i++){ %>
                        <li>
                            <a href="/drive/<%= folders[i].id%>"><%=folders[i].name%></a>
                            <button style="margin-left: 10px;">Delete</button>
                        </li>
                        <%}%>
                </div>
                <div class="filesBox">
                    <% if(files){ %>
                        <% for(let i = 0;i < files.length;i++){ %>
                            <li>
                                <div>
                                    <a href="<%= files[i].fileUrl%>"><%= files[i].name %></a>
                                    <p><%= files[i].size.toPrecision(3)%>KB</p>
                                    <p><%= format(files[i].uploadTime,'yyyy/MM/dd') %></p>
                                    <a href="/delete/<%= files[i].id%>"><button>Delete</button></a>
                                </div>
                            </li>
                            <%}%>
                    <%} %>
                </div>
                </ul> 
        
    </section>
</body>
</html>